@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1c1f20;
}

* {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #1545af; 
    border-radius: 5px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #123b99; 
  }
  